Skip to content
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 
@samrudhi93 
Alihassan7726
/
Test-repo
1
00
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
Test-repo/templates/after.html
@Alihassan7726
Alihassan7726 Update after.html
Latest commit d4b3cf4 9 hours ago
 History
 1 contributor
55 lines (36 sloc)  1.41 KB
  
<html>

<body bgcolor=#a3cfb4>

    <center>

        <h1>  PREDICTION :  </h1>
    
    {%if data == 0%}
    <h1>You're Overweight</h1>

    {%elif data==1 %}
    <h1>You're Healthy!</h1>

    {%elif data==2 %}
    <h1>You're Underweight!</h1>

    {%elif data==3 %}
    <h1>You're Obese!</h1>

    {%elif data==4 %}
    <h1>You're Extremely Obese!</h1>

    {% endif %}
        <br><br>
    <a href='/'>go back to home page</a>

    </center>

</body>

</html>

 <h1>  PREDICTION :  </h1>
    
    {%if data == 3%}
    <h2>You're Overweight !, try some normal diet less sugar . Make a habbit of exersize daily</h2>

    {%elif data==1%}
    <h2>You're Healthy! , Try to exersize daily to stay healthy in long run . Eating healthy diet along fruits counld bring even more health.</h2>

    {%elif data==4%}
    <h2>You're Underweight! , Please eat some protien rich diet along with proper exersize .</h2>

    {%elif data==2%}
    <h2>You're Obese !, try some low caleory diet and avoid over-eating or snacks, less sugar, burn as much caleories as possible  </h2>

    {%elif data==0%}
    <h2>You're Extremely Obese !, You must do some exhausted excersize to burn as much caloeries as possible along with eating very less sugar/protien diet</h2>

    {% elif %}
        <h4> Invalid Input , please try again </h4>
    {% endif %}
        <br><br>
    <a href='/'>go back to home page</a>
